.titulo{
  font-size: 2rem;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* FORMULARIO  ---------------------------------------------------------------------- */

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

textarea {
  max-width: 100%;
  max-height: 5rem;
  min-height: 100px;
  resize: vertical;
  overflow: auto;
}


input,
textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 0.5rem;
  border-radius: 3px;
}

.error-msg {
  color: red;
  margin-top: 5px;
}

.form-mensajes {
  display: flex;
  justify-content: space-between;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

/* Estilos para dispositivos móviles */
@media (max-width: 767px) {
  .form-group {
    margin-bottom: 10px;
  }

  .form-mensajes {
    flex-direction: column;
  }

  button {
    width: 100%;
  }
}

.warnings{
  width: 10rem;
  text-align: center;
  margin: auto;
  color: #ff5a5a;
}

.ok{
  width: 10rem;
  text-align: center;
  margin: auto;
  color: #45a049;

}

